:root {
    --white: #fff;
    --black: #222;
    --pink: #f60091;
    --grey: #444;
    --grey2: #959595;
    --grey-alt: #d1e2e9;
    --yellow: #ffd800;
    --green: #59b210;
  }
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
  }
  body {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black);
    background-color: var(--white);
    z-index: -1;
    overflow-x: hidden;
  }
  .advert{
      background-color: var(--pink);
      text-align: center;
      color: var(--white);
  }
  
  /* Header */

  /*.navigation{
    position: sticky;
    top: 0;
} */  /* like this can make sticky or by using javascript the below is class is used for javascript */
.fixed-nav{
position: fixed;
top: 0;
left: 0;
width: 100%;
background-color: var(--white);
box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
  .logo-header{
      display: flex;
      justify-content: space-between;
      background-color: var(--white);
      /* position: sticky;
      top: 0; */
      padding: 1.5rem;
      height: 7rem;
      width: 100vw;
  }
  .bars{
      margin-right: 2rem;
      font-size: 2rem;
  }

  h1 span{
      color: var(--pink);
  }
  .nav-list{
      list-style-type: none;
  }
  .nav-item a{
      text-decoration: none;
      position: relative;
      color: black;
      text-transform: uppercase;
  }
  .nav-item{
    height: 5rem;
  }
  .nav-link::after{
      position: absolute;
      content: "";
      width: 100%;
      top: 100%;
      height: 2px;
      background-color: var(--pink);
      left: 0;
      transform: scaleX(0);
      transition: transform 0.5s;
      transform-origin: right;
  }
  .nav-link:hover::after{
      transform: scaleX(1);
      transform-origin: left;
  }
  .main-header .nav-item{
    display: inline-block;
    margin: 1rem;
  }
  .main-header{
      visibility: hidden;
  }
  .smallscreen1{
      background-color: rgba(0,0,0,0.7);
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      color: white;
      display: none;
  }
  .smallscreen{
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 250px;
      z-index: 2;
      background-color: var(--white);
  }
  .heading{
      display: flex;
      justify-content: space-between;
      padding: 2rem;
      background-color: var(--pink);
  }
  .close{
      margin-right: 2rem;
      font-size: 2rem;
  }
  .smallScreen-menu .nav-item{
      margin: 3rem;
  }
  .nav-icons{
      margin-top: 0.7rem;
      visibility: hidden;
  }
  .nav-icons span{
    margin-right: 1rem;
    border: 1px solid black;
    border-radius: 100%;
    padding: 0.5rem;
    cursor: pointer;
}
.nav-icons span:hover{
    background-color: var(--pink);
    color: var(--white);
}

  /* media queries */
  @media screen and (min-width : 992px) {
      .bars{
          display: none;
      }
      .main-header,.nav-icons{
        visibility: visible;
    }
  }

  /* carousel */
 .banner1{
     background-color: var(--grey-alt);
     display: flex;
     height: 100vh;
     /* justify-content: space-around; */
 }
 .images{
     margin-top: 5rem;
     width: 640px;
     object-fit: contain;
     /* height: 100vh; */
 }
.banner-content{
    margin: auto;
    margin-left: 15rem;
    /* width: 1000px; */
    /* background-color: var(--yellow); */
}
.buttons-group,.b,.a{
    margin: 2rem;
}
.a{
    font-weight: 500;
}
button{
    background-color: transparent;
    padding: 1rem;
    width: 17rem;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    padding: 1.1rem;
    border: 1.5px solid black;
}
button:hover{
    background-color: var(--black);
    color: var(--white);
}
@media screen and (max-width:662px) {
    .banner-content{
        margin-left: 2rem;
    }
   .buttons-group{
       display: flex;
       justify-content: space-around;
   }
    .c{
      font-size: 25px;
    }
   button{
       width: 15rem;
   }
   .banner1{
       flex-direction: column;
   }
   .images{
       width: 430px;
       margin: auto;
   }
}
